.App {
  color: white;
  background-color: #212121;
  display: flex;
  flex-wrap: wrap;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-icons {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}

.icon {
  padding: 12px;
  border-radius: 50%;  
}

.icon:hover {
  background-color: darkgray;
}

.search-container {
  margin-right: 40px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.title-area {
  padding: 2px 20px 5px 24px;
  border-bottom: 1px solid rgba(255,255,255,.15);
}

#title {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 8px;
  margin-top: 8px;
  font-weight: 600;
}

#version {
  font-size: small;
  color: rgba(255, 255, 255, 0.7);
}


.with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
}

.with-sidebar > * > * {
  /* ↓ applies to both elements */
  height: 100vh;
}

.top-nav {
  height: 64px;
  background-color: rgb(51, 51, 51);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.25);
}

.plus-box-button {
  border: 1px dashed rgba(255, 255, 255,.15);
  text-align: center;
  padding: 12px 0;
  border-radius: 6px;
  margin: 8px 66px 0 0;
}

.list-nav {
  padding: 16px 24px;
  list-style: none;
}

.list-item {
  font-size: 13px;
  color: white;
  padding-bottom: 19px;
  font-weight: 500;
}

.list-item:hover {
  font-size: 14px;
  color: #3c8cc7;
  cursor: pointer;

}

.diamond-sponsors {
  font-size: 12px;;
  color: rgba(255, 255, 255, 0.7);
  margin: 16px 24px;
}

.sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  background-color:#212121; /* Black */
  border-right: 1px solid rgba(255, 255, 255,.15);
}

.not-sidebar {
  /* ↓ grow from nothing */
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 1rem);
  background-color: #212121;
}

.-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
